@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    position: relative;
    background-color: rgb(31, 31, 31);
    padding: 5vh 3px;
    text-align: center;
    vertical-align: middle;
}

header img {
    position: absolute;
    width: 8%;
    text-align: left;
    color: white;
    display: inline;
    transform: translate(-50%, -50%);
    top: 50%;

}



#imenu {
    position: absolute;
    width: 8%;
    height: 40%;
    font-size: 8vw;
    color: white;
    display: inline-block;
    cursor: pointer;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 50px;
}

#imenu:hover {
    background-color: white;
    color: black;
}

#itens {
    display: none;
    text-align: left;
}

menu ul {
    list-style-type: none;
}


menu > ul > li > a {
    width: 100vw;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: left;
    background-color: transparent;
    color: white;
    border-top: 2px solid rgb(36, 36, 36);

}

menu > ul > li> a:hover {
    background-color: gray;
}


main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

main h2 {
    margin-bottom: 20px;

}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}

@media screen and (min-width: 600px) and (max-width: 780px){
    
    #imenu {
        display: none;
    }

    #itens {
        display: block;
        
    }

    #itens {
        display: block;
        text-align: center;
    }

    menu > ul > li{
        display: inline-block;
        
    }

    menu > ul > li > a{
        margin: 0px;
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        color: white;
        border-top: 2px solid rgb(158, 158, 158);
    
    }

    main {
        width: 80vw;
        margin: auto;
        margin-top: 10px;
    }
}

@media screen and (min-width: 780px) {
    
    #imenu {
        display: none;
    }

    #itens {
        display: block;
        width: 800px;
        margin: auto;
    }

    #itens {
        display: block;
        text-align: center;
    }

    menu > ul > li{
        display: inline-block;
        
    }

    menu > ul > li > a{
        margin: 0px;
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        color: white;
        border-top: 2px solid rgb(158, 158, 158);
    
    }

    main {
        width: 800px;
        margin: auto;
        margin-top: 10px;
    }
}
    
    